<%= form_for(@job_posting) do |f| %>
    <% if @job_posting.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@job_posting.errors.count, "error") %> prohibited this job_posting from being saved:</h2>

<ul>
    <% @job_posting.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
        </ul>
    </div>
        <% end %>
    <div class="field">

  <%= f.label :title %><br>
  <%= f.text_field :title %>
  </div>
  <div class="field">
  <%= f.label :company %><br>
  <%= f.text_field :company %>
  </div>
  <div class="field">
  <%= f.label :job_type %><br>
  <%= f.text_field :job_type %>
  </div>
  <div class="field">
  <%= f.label :salary %><br>
  <%= f.text_field :salary %>
  </div>
  <div class="field">
  <%= f.label :duties %><br>
  <%= f.text_area :duties %>
  </div>
  <div class="field">
  <%= f.label :basic_qualifications %><br>
  <%= f.text_area :basic_qualifications %>
  </div>
  <div class="field">
  <%= f.label :education %><br>
  <%= f.text_field :education %>
  </div>
  <div class="field">
  <%= f.label :skills %><br>
  <%= f.text_area :skills %>
  </div>
  <div class="field">
  <%= f.label :experience %><br>
  <%= f.text_field :experience %>
  </div>
  <div class="field">
  <%= f.label :how_to_apply %><br>
  <%= f.text_area :how_to_apply %>
  </div>
  <div class="actions">
  <%= f.submit %>
  </div>
<% end %>
