<h2>Job Listings Queue</h2>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Company</th>
            <th>Job Type</th>
        </tr>
    </thead>
    <tbody>
        <% @job_postings.each do |job_posting|%>
        <tr>
            <td><%= link_to job_posting.title, job_posting %></td>
            <td><%= job_posting.company %></td>
            <td><%= job_posting.job_type.job_type %></td>
            <td><%= link_to 'Edit', edit_job_posting_path(job_posting) %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<hr>

<h2>Employers Queue</h2>

<table>
    <thead>
        <tr>
            <th>Company</th>
            <th>Contact Name</th>
            <th>Phone Number</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user|%>
        <tr>
            <td><%= user.company %></td>
            <td><%= user.name %></td>
            <td><%= user.phone %></td>
            <td><%= user.email %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to "Display Page", display_path %>
