<% if admin_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_admin_session_path)  %>
  </li>
<% end %>


<h1>Job Listings</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Company</th>
            <th>Job Type</th>
            <th colspan="1"></th>
        </tr>
    </thead>
    <tbody>
        <% @job_postings.each do |job_posting|%>
        <tr>
            <td><%= link_to job_posting.title, job_posting %></td>
            <td><%= job_posting.company %></td>
            <td><%= job_posting.job_type %></td>
            <td><%= link_to 'Edit', edit_job_posting_path(job_posting) %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%=link_to "New Job", :controller=>"job_postings", :action=>"new" %>

<br>
<br>

<%= link_to "Display Page", display_path %>
