<h1>Job Posting Preview</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job_posting.title %>
</p>

<p>
  <strong>Company:</strong>
  <%= @job_posting.company %>
</p>

<p>
  <strong>Job Type:</strong>
  <%= @job_posting.job_type %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job_posting.salary %>
</p>

<p>
  <strong>Duties:</strong>
  <%= @job_posting.duties %>
</p>

<p>
  <strong>Basic Qualifications:</strong>
  <%= @job_posting.basic_qualifications %>
</p>

<p>
  <strong>Education:</strong>
  <%= @job_posting.education %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @job_posting.skills %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @job_posting.experience %>
</p>

<p>
  <strong>How To Apply:</strong>
  <%= @job_posting.how_to_apply %>
</p>

<%=link_to "Job List", display_url %>